*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    overflow-x: hidden;
    padding: 20px;
}

.card{
    width: min(925px, 95vw);
    aspect-ratio: 925 / 489;

    background-image: url(img/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    position: relative; /* 🔥 importante */
}

.card h1{
    font-size: clamp(28px, 4vw, 48px);
    margin-bottom: 20px;
    text-align: center;
}

.card p{
    font-size: clamp(16px, 2.5vw, 24px);
    margin-bottom: 40px;
    text-align: center;
}


button{
    width: clamp(120px, 18vw, 160px);
    height: clamp(40px, 6vh, 55px);

    border: none;
    border-radius: 10px;

    font-size: clamp(14px, 2vw, 18px);

    cursor: pointer;
    transition: .25s;

    background-color: #80079e;
    color: white;

    position: absolute;  /* 🔥 clave */
    bottom: 20px;        /* 👈 lo pega abajo */
}