*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    overflow-x: hidden;
    padding: 20px;
}
.card{
    width: min(925px, 95vw);
    aspect-ratio: 925 / 489;

    background-image: url(img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;
}

.card h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.card p{
    font-size: 24px;
    margin-bottom: 50px;
}

.buttons{
    margin-top: auto;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    margin-top: 100px;
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: .25s;
}

.yes{
    background: #80079e;
    color: rgb(255, 255, 255);
}

.yes:hover{
    transform: scale(1.05);
}

.no{
    background: #ffffff;
    text-decoration: none;
    color: black;
}

.no:hover{
    transform: scale(1.05);
}